@import './fonts.css';

:root {
  --accent: #3a86dd;
  --accent-light: #E1F5EE;
  --accent-dark: #0814ba;
  --amber: #BA7517;
  --amber-light: #FAEEDA;
  --red: #A32D2D;
  --red-light: #FCEBEB;
  --blue: #76b4f1;
  --blue-light: #E6F1FB;
  --purple: #5143f0;
  --purple-light: #EEEDFE;

  --border-light: #e5e5e0;
  --border-gray: #ddd;
  --bg-white: #ffffff;
  --bg-offwhite: #fafaf8;
  --text-dark: #222;
  --text-muted: #555;
  --text-light: #888;
  --text-placeholder: #aaa;
  --shadow-fab: 0 4px 16px rgba(0,0,0,0.15);

  --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.dark {
  --bg-white: #0f0f0f;
  --bg-offwhite: #161616;
  --text-dark: #efefef;
  --text-muted: #aaa;
  --text-light: #777;
  --text-placeholder: #555;
  --border-light: #2a2a2a;
  --border-gray: #3a3a3a;
  --accent: #fa8218;
  --accent-light: rgba(50, 145, 255, 0.1);
  --accent-dark: #ef5c22;
  --shadow-fab: 0 4px 16px rgba(0,0,0,0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-white);
  color: var(--text-dark);
}

.app-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

code, .mono, button:has(.logo), .category-button, .hero-badge {
  font-family: 'JetBrains Mono', monospace;
}